<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{block:description}">
  <meta name="author" content="{block:author}">

  <title>Портал для размещения закупок для УК и ТСЖ Пермского края</title>
  <link rel="shortcut icon" href="../../../../favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic" rel="stylesheet">
 
  <link href="../../../../css/this.css" rel="stylesheet">
  
  <script src="../../../../../vendor/jquery/lib28022020.js"></script>
  <script src="../../../../../js/this.js"></script>
</head>
<body>

<div class="block">
	<div class="line" style="text-align: left!important">
		<div style="width: 100%; text-align: center!; margin-top: 100px">
			<img src="../../../../images/404.png" style="width: 80%;"/>
		</div>
		<div style="width: 100%; text-align: left!important; margin-top: 30px; margin-left: 10%; font-size: 28px">
			Нажмите <a href="../../../../../" style="color: #36b8ff">сюда</a> и всё заработает!
		</div>
	</div>
</div>


<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(59168041, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/59168041" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>

</html>



