<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{block:description}">
  <meta name="author" content="{block:author}">

  <title>Портал для размещения закупок для УК и ТСЖ Пермского края</title>
  <link rel="shortcut icon" href="../../../../favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic" rel="stylesheet">
 
  <link href="../../../../css/this.css" rel="stylesheet">

</head>

<body>

<div class="block">
	<div class="line" style="text-align: left!important; height: 50px!important">
		<h2>{block:headeText}</h2>
	</div>
</div>

<div class="block">
	<div class="line ta-left">
		{block:content}
	</div>
</div>

<div class="block">
	<div class="line" style="text-align: left!important; height: 50px!important">
		&#160;
	</div>
</div>


<script src="../../../../../vendor/jquery/lib28022020.js"></script>
<script src="../../../../../js/this.js"></script>

</body>

</html>




